*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color: brown;
    height: 500px;
    width: 450px;
    margin: auto;
   
}
.title{
  /* margin-top: 10px; */
  padding: 10px;
 text-align: center;
 font-size: 25px;

}
.email{
    margin-left: 3px;
    margin-bottom: 3px;
    padding: 3px;
   padding-right: 270px;

}
.password{
    margin: 3px;
    padding: 3px;
    padding-right: 260px;
}
.btm{
background-color: blue;
color: cadetblue;
margin-left: 190px;
/* border: none; */
margin-top: 5px;
padding: 7px;
padding-right: 15px;
padding-right: 5px;

}